#过滤文件夹target,.idea
/target
/.idea
/out
/src/others
.idea
.idea/libraries
.DS_Store
src/.DS_Store
src/practice/.DS_Store

*.iml

#编译文件
*.class

#包文件
*.jar
*.war
*.zip
*.rar
*.tar.gz
*.json
.metadata
.vs